/* #region base */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
}

/* #endregion */

/* #region Common */
.ingridiens,
.made,
.products,
.reviews {
  padding: 40px 0;
}

@media only screen and (min-width: 736px) {
  .ingridiens,
  .made,
  .products,
  .reviews {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1168px) {
  .ingridiens,
  .made,
  .products,
  .reviews {
    padding: 60px 0;
  }
}

.hiden {
  display: none;
}

.title-accent {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 700;
  letter-spacing: -0.03em;
  gap: 4px;
}
.socials {
  display: none;
}
.btn {
  min-width: 120px;
  min-height: 41px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  background: transparent;

  padding: 12px 28px;
}
.button-hero {
  display: flex;
  gap: 14px;
}
.scroll-down {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  gap: 12px;
  padding-top: 32px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  transition: 300ms ease-in;
  transition-property: color;
}
.socials-icon {
  fill: currentColor;
}
.section-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 736px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
  .socials {
    display: flex;
    gap: 14px;
  }
  .btn {
    min-width: 144px;
    min-height: 45px;
    padding: 14px 40px;
  }
  .scroll-down {
    gap: 14px;
    padding-top: 0;
    font-size: 14px;
    line-height: 1.29;
  }
  .scroll-down-icon {
    width: 38px;
    height: 38px;
  }
  .section-title {
    min-width: 412px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media only screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo-icon {
}
/* Socials */

.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #111;
  transition: 300ms ease-in;
  transition-property: color, border-color;
}
.social-link:hover,
.social-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
  color: #fd9222;
}

.btn-accent {
  background: #fd9222;
  color: #fff;
  transition: 300ms ease-in;
  transition-property: color, background;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background: #fcf1e0;
}

.btn-primary {
  border: 1px solid #fff;
  color: #fff;
  transition: 300ms ease-in;
  transition-property: border-color, color;
}

.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}

.scroll-down:hover > .scroll-down-icon,
.scroll-down:focus > .scroll-down-icon {
  --color1: #fd9222;
  --color2: #fff;
}

.reviews-btn {
  display: flex;
  border: 1px solid #fd9222;
  margin: 0 auto;
  transition: 300ms ease-in;
  transition-property: background, color;
}

.reviews-btn:hover,
.reviews-btn:focus {
  background: #fd9222;
  color: #fff;
}
.products-button {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background: #fafafa;
}
/* #endregion */

/* #region header */

.header {
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
  flex-grow: 1;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;
}
.nav-item {
}
.mobile-menu {
  stroke: #111;
}
@media only screen and (min-width: 736px) {
  .header-nav {
    padding: 20px 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .nav-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: 300ms ease-in;
    transition-property: color;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #fd9222;
    transition: 300ms;
    transform: scaleX(0);
  }
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #fd9222;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 28px;
    flex-grow: 1;
  }
  .mobile-menu {
    display: none;
  }
}
@media only screen and (min-width: 1168px) {
  .nav-list {
    gap: 24px;
  }
  .header-nav {
    margin-right: 90px;
  }
}

/* #endregion */

/* #region  hero*/

.hero {
  padding-bottom: 80px;
}

.hero-container {
  padding: 395px 20px 20px;
  max-width: 335px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../icons/hero/hero-bg_lg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 293px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: -0.03em;
  color: #fff;
}
.hero-wrapper {
  display: inline-block;
}

@media only screen and (min-width: 736px) {
  .hero {
    padding-bottom: 40px;
  }
  .hero-container {
    padding: 671px 40px 40px;
    max-width: 704px;
  }
  .hero-title {
    width: 484px;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 1.21;
  }
  .hero-wrapper {
    display: flex;
  }
}

@media only screen and (min-width: 1168px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero-container {
    padding-top: 381px;
    max-width: 1136px;
  }
}

/* #endregion */

/* #region benefits */

.benefits {
  padding: 20px 0;
  background: #1e1823;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-item {
  position: relative;
  max-width: 335px;
}
.benefits-item:not(:last-child)::after {
  display: none;
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
.benefits-icon {
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 736px) {
  .benefits {
    padding: 50px 0;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 44px 88px;
  }
  .benefits-item {
    max-width: 308px;
  }
}

@media only screen and (min-width: 1168px) {
  .benefits-item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -45px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 0px;
    height: 124px;
    transform: translateY(-50%);
  }
}

/* #endregion */

/* #region ingridiens */

.ingridient {
  padding-top: 80px;
}

.ingridient-title {
}
.ingridient-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingridient-item {
  position: relative;
  max-width: 335px;
  height: 270px;
  padding: 32px 50px 28px;
  border-radius: 15px;
  border: 1px solid transparent;
}
.ingridient-img {
  padding-bottom: 16px;
}

.ingridient-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #ffffff;
}
.ingridient-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
}

.ingridient-item:nth-child(2n) {
  border-color: #fd9222;
}

.ingridient-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingridiens-arrow {
  position: absolute;
  fill: transparent;
  stroke: #fafafa;
  top: 14px;
  right: 14px;
}
.ingridient-item:nth-child(2n) .ingridiens-arrow {
  stroke: #fd9222;
}

@media only screen and (min-width: 736px) {
  .ingridient {
    padding-top: 100px;
  }
  .ingridient-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .ingridient-item {
    gap: 32px;
  }
}

@media only screen and (min-width: 1168px) {
  .ingridient {
    padding-top: 120px;
  }
  .ingridient-item {
    width: calc((100% - 3 * 32px) / 4);
    padding: 28px 23px;
  }
  .ingridient-img {
    padding-bottom: 36px;
  }
}

/* #endregion */

/* #region made */
.made {
}
.made-wrraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.made-title {
}
.made-left-side {
  position: relative;
  overflow: hidden;
}
.made-img {
  border-radius: 15px;
  opacity: 0.6;
  max-width: 335px;
  height: 500px;
}
.made-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  padding: 0;
}
@media only screen and (max-width: 735px) {
  .made-btn {
    width: 35px;
    height: 35px;
  }
}
.made-btn-icon {
  fill: #f5f4f4;
}
.made-right-side {
  border-radius: 15px;
  max-width: 335px;
  background: #fff;
  padding: 20px 14px;
}
.made-subtitle {
  max-width: 307px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item::before {
  content: "";
  margin-top: 5px;
  flex-shrink: 0;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
.made-item:not(:last-child) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 736px) {
  .made-img {
    max-width: 614px;
    height: 400px;
  }
  .made-right-side {
    max-width: 614px;
    padding: 32px;
  }
  .made-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }
  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1168px) {
  .made-wrraper {
    flex-direction: row;
  }
  .made-img {
    max-width: 600px;
  }
  .made-right-side {
    max-width: 516px;
  }
}

/* #endregion */

/* #region products */

.products {
}

.products-title {
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  max-width: 335px;
  height: 364px;
  background: #fff;
}
.products-img {
  margin: 32px 53px 8px 53px;
}

@media only screen and (min-width: 736px) {
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .products-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .products-list {
    gap: 24px 18px;
  }
  .products-item {
    width: calc((100% - 18px * 3) / 4);
  }
  .products-img {
    margin: 32px 20px 10px;
  }
}
.products-wrapper {
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-bottom: 2px;
}
.products-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin: 0;
  padding-bottom: 18px;
}

/* #endregion */

/* #region bestsellers */

.bestsellers {
}

.bestsellers-title {
}
.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  max-width: 368px;
  max-height: 544px;
}
.bestsellers-img {
  width: 100%;

  border-radius: 15px 15px 0 0;
}
.bestsellers-wrapper {
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.28;
  letter-spacing: -0.02em;
  font-size: 14px;
  color: #fff;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  transform: translateY(100%);
  transition: 300ms ease-in-out;
  transition-property: transform;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  border-top: none;
  background: #fff;
  padding: 28px;
}

/* #endregion */

/* #region reviews */

.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 47px;
}
.reviews-item {
  position: relative;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
  background: #fff;
  width: calc((100% - 28px * 2) / 3);
  padding: 56px 24px 24px;
}
.reviews-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-42px);
}
.reviews-subtitle {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.reviews-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

/* #endregion */

/* #region footer */

.footer {
  background-color: #1e1823;
  padding: 50px 0;
  color: #fff;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  margin-right: auto;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  width: 300px;
}

.footer-social {
  margin-right: 50px;
}
.footer-social .social-link {
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transform: 300ms ease-in;
  transition-property: color, border-color;
}
.footer-social .social-link:hover,
.footer-social .social-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
  color: #fd9222;
}
.footer-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  padding-bottom: 14px;
}

.social-item {
}

.footer-social-link {
}
.footer-contacts {
}
.footer-caption {
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-bottom {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.14;
  letter-spacing: -0.02em;

  padding: 18px 0;
  transition: 300ms ease-in;
  transition-property: color;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}

.footer-input {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.label-outer {
  transition-property: border;
}
.input-outer {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  min-width: 313px;
  background: #1e1823;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #fff;
  transition: 300ms;
}
.input-outer::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.btn-Subscribe {
}

/* #endregion */

/* #region madal window */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 300ms ease-in-out;
  transition-property: opacity, visibility;
  transition-delay: 200ms;
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -70%); */
  transform: translateX(-50%) translateY(-50%) scale(0.3);

  opacity: 0;

  width: 517px;
  min-height: 794px;
  padding: 40px;
  border-radius: 15px;
  background: #fafafa;
  transition: 200ms cubic-bezier(0.26, -0.22, 0.43, 1.47);
  transition-property: opacity, transform;
  transition-delay: 0ms;
}
.modal-overlay.is-open .modal {
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%) translateY(-50%) scale(1);

  opacity: 1;
  transition-delay: 300ms;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 2px solid #111;

  background-color: transparent;
  transition: 300ms ease-in-out;
  transition-property: border-color;
}
.close-icon {
  stroke-width: 2px;
  stroke: #111;

  transition: 300ms ease-in-out;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: rgb(91, 91, 90);
}
.modal-close-btn:focus .close-icon,
.modal-close-btn:hover .close-icon {
  stroke: rgb(91, 91, 90);
}
.modal-caption {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal-form {
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-label {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 22px 62px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  height: 68px;
  width: 100%;
  outline: transparent;
  transition: 300ms ease-in-out;
  transition-property: stroke;
}
.modal-form-input:focus {
  border-color: #fd9222;
}
.modal-form-input:focus-visible {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  pointer-events: none;

  stroke: #404040;
  transition: 300ms ease-in-out;
}
.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}
.modal-from-message {
  width: 100%;
  height: 137px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px;
  resize: none;
  outline: transparent;
  font-size: 18px;
  letter-spacing: -0.02em;
  transition: 300ms ease-in-out;
  transition-property: border-color, box-shadow;
}

.modal-from-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.modal-from-message:focus {
  border-color: #fd9222;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.modal-form-angreement {
  margin-bottom: 40px;
}
.modal-form-agreement-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 12px;

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: 150ms ease-in-out;
  transition-property: background-color, border-color;
}
input[type="checkbox"]:checked
  + .modal-form-agreement-text
  .modal-form-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
}
.modal-form-checkbox-icon {
  fill: #fff;
  opacity: 0;
  transition: 150ms ease-in-out;
  transition-property: opacity;
}
input[type="checkbox"]:checked
  + .modal-form-agreement-text
  .modal-form-checkbox
  .modal-form-checkbox-icon {
  opacity: 1;
}
input[type="checkbox"]:focus-visible
  + .modal-form-agreement-text
  .modal-form-checkbox {
  outline: 2px solid #fd9222;
  outline-offset: 2px;
}

.modal-form-agreement-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
/* erroe */
.error-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%) scale(0.2);

  opacity: 0;
  transition: 200ms;
}
.modal-form-input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
}
.modal-form-input:not(:placeholder-shown):required:invalid ~ .error-icon {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.error-msg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(110%) scale(0.2);
  font-size: 12px;
  color: #e74a3b;
  opacity: 0;
  transition: 200ms;
}
.modal-form-input:not(:placeholder-shown):required:invalid ~ .error-msg {
  opacity: 1;
  transform: translateX(-50%) translateY(110%) scale(1);
}
/* #endregion */
