/* #region base */
.body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  background: #fafafa;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/* #endregion */

/* #region Common */
.ingridiens,
.made,
.products,
.reviews {
  padding: 60px 0;
}
.section-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-title-accent {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-icon {
}
/* Socials */
.social {
  display: flex;
  gap: 14px;
}
.social-item {
}
.social-link {
}

/* Buttons */
.btn {
  min-width: 144px;
  min-height: 45px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  border-radius: 100;
  border: 1px solid transparent;
}
.btn-accent {
  background: #fd9222;
  color: #fff;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background: #fcf1e0;
}

.btn-primary {
  border: 1px solid #fff;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}
.scroll-down {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  gap: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}
.scroll-img {
}
.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}

.reviews-button {
  color: #111;
  font-size: 18px;
  border: 1px solid #fd9222;
}
.reviews-button:hover,
.reviews-button:focus {
  background: #fd9222;
  color: #fff;
}
.products-button {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background: #fafafa;
}
/* #endregion */

/* #region header */

.header {
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 90px;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-item {
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding: 32px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

/* #endregion */

/* #region  hero*/

.hero {
  padding-bottom: 80px;
}
.hero-container {
  padding: 381px 40px 40px;
  gap: 32px;
  max-width: 1136px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.4);
}
.hero-title {
  max-width: 484px;
  margin-bottom: 32px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-wrapper {
  display: flex;
  gap: 14px;
}

/* #endregion */

/* #region benefits */

.benefits {
  padding: 50px 0;
  background: #1e1823;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region ingridiens */

.ingridient {
  padding-top: 120px;
}
.ingridient-title {
}
.ingridient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridient-item {
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px 23px;
  border-radius: 15px;
  border: 1px solid transparent;
}
.ingridient-img {
  padding-bottom: 36px;
}

.ingridient-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #ffffff;
}
.ingridient-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
}

.ingridient-item:nth-child(2n) {
  border-color: #fd9222;
}

.ingridient-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion */

/* #region made */
.made {
}
.made-wrraper {
  display: flex;
  gap: 20px;
}
.made-title {
}
.made-left-side {
}

.made-img {
  border-radius: 15px;
  max-width: 600px;
  max-height: 400px;
}
.made-right-side {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  max-width: 516px;
  max-height: 400px;
  background: #fff;
  padding: 32px;
  gap: 28px;
}
.made-subtitle {
  max-width: 350px;
  max-height: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.made-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* #endregion */

/* #region products */

.products {
}

.products-title {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 270px;
  height: 364px;
  background: #fff;
}
.products-img {
  padding: 32px 20px 8px;
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-bottom: 2px;
}
.products-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin: 0;
  padding-bottom: 18px;
}

/* #endregion */

/* #region bestsellers */

.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-item {
}
.bestsellers-img {
}
.bestsellers-subtitle {
}
/* #endregion */

/* #region reviews */

.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
}
.reviews-img {
}
.reviews-subtitle {
}
.reviews-text {
}

/* #endregion */

/* #region footer */

.footer {
}
.footer-desc {
}
.footer-social {
}
.footer-caption {
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-link {
}
.footer-contacts {
}
.fotter-caption {
}
.fotter-contacts-list {
}
.fotter-contacts-item {
}
.footer-contacts-link {
}
.fotter-nav-list {
}
.fotter-nav-item {
}
.fotter-nav-link {
}

/* #endregion */
